.footer{
    background-color: rgb(18, 18, 18);
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* padding: 2px; */
    margin: 0;
    /* overflow-y: none; */
}
.footer img{
    height: 100px;
}
.conw{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}
.blend{
    background-image: linear-gradient(black,transparent);
    height: 50px;
    width: 100vw;
    position: absolute;
}
.heading{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    transition: all 0.5s;
}
li a{
    color: white;
    text-decoration:none ;
    /* font-size: 20px; */
}
li a:hover{
    color: red;
    transition: all 0.5s;
}
.contacts1{
    width: 60%;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contacts1 p{
    /* font-size: 10px; */
}
@media (max-width:860px) {
    .footer{
      
        height: 50vh;
        
    }
    .contacts1 p{
        font-size:10px;
    }
    li a{
        font-size: 12px;
    }
}
@media (max-width : 500px) {
    .footer{
      
        height: 60vh;
        

    }
    li a{
        font-size: 10px;
    }
    .contacts1 p{
        font-size:10px;
    }
    .contacts h1{
        font-size:25px;
    }
}